<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <!-- Medical Examination AddMedicalExamination Form  -->
    <form class="form w-20 mx-auto" th:object="${medicalExaminationBindingModel}" th:fragment="addMedicalExaminationForm"  enctype="multipart/form-data" method="post" th:action="@{/medicalexamination/add}">
  		    <div class="form-group row" th:classappend="${#fields.hasErrors('title')} ? 'has-danger'">
	            <label for="title" class="col-sm-2 col-form-label">Title</label>
	            <div class="col-sm-10">
	                <input type="text" class="form-control form-control-danger" id="title"
	                       placeholder="title" th:field="*{title}"/>
	                <div class="form-control-feedback small" th:each="error : ${#fields.errors('title')}" th:text=" ${error}">Sorry, that title is invalid</div>
	            </div>
	        </div>
	       <div class="form-group row " th:classappend="${#fields.hasErrors('dentist')} ? 'has-danger'">
	            <label th:for="dentists"> Dentist:</label>
	            <select class="form-control" id="dentist" th:field="*{dentist}">
	                <option th:each="entry:${dentistList}" th:value="${entry.id}" th:text="${entry.dentistFullName}"></option>
	            </select>
	            <div class="form-control-feedback small" th:each="error : ${#fields.errors('dentist')}" th:text="${error}">Error in dentist</div>
        	</div>
        	<div class="form-group row " th:classappend="${#fields.hasErrors('patient')} ? 'has-danger'">
	            <label th:for="patients"> Patient:</label>
	            <select class="form-control"  th:field="*{patient}">
	                <option th:each="patient:${patientList}" th:value="${patient.id}" th:text="${patient.patientFullName}"></option>
	            </select>
	            <div class="form-control-feedback small" th:each="error : ${#fields.errors('patient')}" th:text="${error}">Error in patient</div>
        	</div>
        	<div class="form-group row" th:classappend="${#fields.hasErrors('startDate')} ? 'has-danger'">
	            <label for="startDate" class="col-sm-2 col-form-label"> Start Date:</label>
	            <input id ="startDate" type="datetime-local" class="form-control form-control-danger" th:field="*{startDate}">
	            <div class="form-control-feedback small" id="startDateErrors" th:each="error : ${#fields.errors('startDate')}" th:text="${error}"></div>
	            
             </div>
             <div class="form-group row" th:classappend="${#fields.hasErrors('endDate')} ? 'has-danger'">
	            <label for="endDate" class="col-sm-2 col-form-label"> End Date:</label>
	            <input id ="endDate" type="datetime-local" class="form-control form-control-danger" th:field="*{endDate}">
	            <div class="form-control-feedback small" th:each="error : ${#fields.errors('endDate')}" th:text="${error}">Error in end date</div>
	             <div class="form-control-feedback small" id="endDateErrors"></div>
             </div>
        	  
        	  <!-- Examination images -->
        	<hr class="hr-2 bg-dark w-80">
        	<br/>
        	<br/>
	        <div class="form-group row">  
	            <label for="fileInput" class="col-sm-2 col-form-label"><div class="gallery"></div></label>
	            <div class="col-sm-10">					         	
	                <input type="file" id="fileInput" class="btn btn-default" accept="image/*" name="examinationImages" multiple/>
	            </div>
	        </div>
	        <br/>
	        <br/>
	        <hr class="hr-2 bg-dark w-80">
	         <div class="form-group row" th:classappend="${#fields.hasErrors('notes')} ? 'has-danger'">
	            <label for="notes" class="col-sm-2 col-form-label"> Notes:</label>
	            <textarea name="notes" rows="6" class="form-control form-control-danger" th:field="*{notes}"> >Enter text here...</textarea>
	            <div class="form-control-feedback" th:each="error : ${#fields.errors('notes')}" th:text="${error}">Error in notes</div>
             </div>
	        
          <br/>  
 
        <input type="submit" class="btn btn-default" value="Submit"></input>  
    </form>
</body>
</html>